# Build files
bin*/
build*/


# Visual studio and visual studio code
.vs/*
.vscode/*


# All models
model/*

# Keep required models
!model/arrow/
!model/box/
!model/window/
!model/crash/
!model/suzanne/
!model/nanosuit/